.form {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}
input {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #bbb;
  font-size: 16px;
}
button {
  padding: 8px 14px;
  border: none;
  background: #6C70FF;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
button:active {
  background: #454bf2;
}
